@import url("https://fonts.googleapis.com/css?family=Inter");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter";
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: black;
}

h2 {
  position: relative;
  font-size: 12vw;
  color: black;
  -webkit-text-stroke: 0.3vw rgb(54, 54, 54);
}

h2::before {
  content: attr(data-text);
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  color: white;
  -webkit-text-stroke: 0vw rgb(54, 54, 54);
  border-right: 2px solid white;
  overflow: hidden;
  animation: animate 4s linear infinite;
  animation-iteration-count: 1;
}

@keyframes animate {
  0%,
  10%,
  100% {
    width: 0;
  }

  70%,
  90% {
    width: 100%;
  }
}
